.h1 {
  font-family: "Polysans";
  font-size: 90px;
  color: #ffcc00;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 60px;
}

.plane {
  position: fixed;
  left: 50%;
  bottom: 5rem;
  transform: translateX(-50%);
  z-index: 10;
  transition: opacity 1s ease;
}

.planeBg {
  position: fixed;
  width: 120px;
  bottom: 0;
  height: 150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #181817;
}

.line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center top;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 150px 0;
}

.p {
  font-family: "Polysans";
  color: #ffcc00;
  font-size: 35px;
  /* width: 500px; */
  padding: 300px 90px 300px 90px;
  box-sizing: content-box;
  display: block;
}

.right {
  grid-column: 2/3;
}

.rotate {
  animation: rotate 6s ease infinite;
}

.left {
  grid-column: 1/2;
  text-align: right;
}

.secondRight {
  grid-column: 2/3;
  grid-row: 3/4;
}

.ellipse {
  position: absolute;
  left: -200px;
}

.bus {
  position: absolute;
  padding-top: 250px;
  left: 40px;
}

.square {
  position: absolute;
  left: -300px;
}

.hands {
  position: absolute;
  left: 20px;
  padding-top: 300px;
  width: 290px;
}

.triangle {
  position: absolute;
  right: -200px;
}

.suitcase {
  position: absolute;
  padding-top: 250px;
  right: 150px;
}

.card {
  border-radius: 15px;
}

.heading {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-family: "Polysans";
  margin-bottom: 3rem;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(15deg);
  }
}

@media (max-height: 730px) {
  .h1 {
    font-size: 60px;
  }
}
